/target/

# Recommended value of CARGO_TARGET_DIR when using Docker as explained in .devcontainer/README.md.
/target-amd64/

# Value of CARGO_TARGET_DIR when using .devcontainer/devcontainer.json.
/target-arm64/

# Ignore debug logs generated during development
debug.log
debug-sequencing.log

# TODO(agentydragon)
Cargo.lock
